
.logo img {
  width: 35vw;
}

.sticky {
  position: fixed;
  top: 0;

  width: 100%;
}

.logo {
  display: flex;

  margin: 20px 0px 20px 3vw;

  align-items: center;
}

header {
  display: flex;

  background: black;

  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-direction: row;

  list-style: none;
}

nav {
  display: flex;

  margin-right: 3.3vw;

  align-items: center;
  justify-content: space-between;
}

ul a {
  position: relative;

  margin-right: 2.2vw;

  text-decoration: none;

  color: white;
  border: 2px solid transparent;

  font-size: 2.5vw;
  font-weight: 300;

  align-items: center;
}

a:last-of-type {
  margin-right: 0;
}

ul a:hover {
  border-bottom: 2px solid #02C1EE;
}
