.intro, .idea, .style, .posters, .threeD, .rebranding {
}

main {
  width: 100%;

  color: white;
}

.intro {
  display: flex;
  flex-direction: column;

  background: black;

  justify-content: center;
  align-items: center;
}


.intro_zag {
  display: flex;

  font-size: 10vw;
  font-weight: 600;
}

.intro_zag div {
  padding-right: 3vw;
  padding-left: 3vw;
}

.intro_text {
  padding-top: 20pt;

  font-size: 20pt;
}

.sky p {
 background-image: -webkit-linear-gradient(right, #18FF02, #FF0402);
 -webkit-background-clip: text;

 -webkit-text-fill-color: transparent;
}

.land p {
 background-image: -webkit-linear-gradient(right, #FFFFFF, #27BCE9);
 -webkit-background-clip: text;

 -webkit-text-fill-color: transparent;
}

.idea_zag {
  margin-right: 10vw;

  font-size: 6vw;
  font-weight: 400;
}

.idea {
  display: flex;

  height: 100vh;
/* background-image: -webkit-linear-gradient(bottom, #18FF02, #FF0402); */

  background-color: black;

  justify-content: center;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;

  width: 50vw;

  font-size: 2.5vw;
  font-weight: 300;
}

.description p {
  margin-bottom: 2vw;
}

.description p:last-of-type {
  margin-bottom: 0;
}

.style {
  display: flex;
  flex-direction: column;

  background: black;

  align-items: center;
}

.style h1 {
  text-align: center;

  font-size: 6vw;
  font-weight: 400;
}

.style h2 {
  font-size: 5vw;
  font-weight: 300;
}

.style_description {

}

.style p {
  width: 80vw;
  margin-top: 3vw;
  margin-bottom:3vw;

  font-size: 2.5vw;
  font-weight: 300;
}

.style img {
  width: 50vw;
}


.logo {
  display: flex;
  flex-direction: column;
}


.posters {
  display: flex;
  flex-direction: column;

  background: black;

  align-items: center;
}

.posters p {
  width: 80vw;
  margin-top: 3vw;
  margin-bottom:3vw;

  font-size: 2.5vw;
  font-weight: 300;
}

.posters h1 {
  text-align: center;

  font-size: 6vw;
  font-weight: 400;
}

.posters h2 {
  text-align: center;

  font-size: 5vw;
  font-weight: 300;
}

.posters_graphical img, .posters_typographical img {
  width: 30vw;
  margin-bottom: 5vw;
}

.graphical {
  display: flex;
  flex-direction: column;
}

.graphical h2{
  margin-bottom: 5vw;
}


.posters_graphical {
  display: grid;

  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 5vw;
}

.typographical h2{
  margin-bottom: 5vw;
}

.posters_typographical {
  display: grid;

  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 5vw;
}

.threeD {
  background: black;
}

.threeD h1 {
  font-size: 6vw;
  font-weight: 400;
}

.rebranding {
  background: red;
}

.rebranding h1 {
  font-size: 6vw;
  font-weight: 400;
}
